@import '../../theme/palette.scss';

.container {
    height: 620px;
    width: 400px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;

    & .filtersContainer {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 50px 50px;
        grid-row-gap: 1rem;
        grid-column-gap: 0.5rem;

        height: 270px;
        padding: 1rem;

        background: $paletteGrey2;

        border-radius: 8px;

        & .searchBar {
            grid-column: 1 / 3;
            grid-row: 1;

            width: 100%;
            padding: 0 1rem;

            background: $paletteGrey1;

            border: none;
            border-radius: 4px;

            color: $paletteGrey3;
        }

        & .gameSelect {
            grid-column: 1 / 3;
            grid-row: 2;

            width: 100%;
        }

        & .typeSelect {
            grid-column: 1;
            grid-row: 3;

            width: 100%;
        }

        & .priceSort {
            grid-column: 2;
            grid-row: 3;

            width: 100%;
        }
    }

    & .adContainer {
        height: 300px;
        width: 100%;

        border: 1px solid green;
    }
}
