@import '../../theme/palette.scss';

* {
    transition: all 0.2s;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 70%;
    width: 50%;

    background: $paletteGrey1;
    border: 1px solid $paletteGrey2;
    border-radius: 8px;

    display: flex;

    overflow-y: hidden;

    & .firstChild {
        width: 40%;

        &:first-child {
            height: 15%;
            margin: auto;
        }
    }

    & .lastChild {
        width: 60%;
        background: $paletteGrey2;
    }
}
