@import '../../theme/palette.scss';

* {
    transition: all 0.2s;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 70%;
    width: 35%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.7);
    border: 1px solid $secondaryGreen;
    border-radius: 3px;

    overflow-y: hidden;
}

.containerRegistration {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 90%;
    width: 35%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.7);
    border: 1px solid $secondaryGreen;
    border-radius: 3px;

    overflow-y: hidden;
}

.containerForgotPassword {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 30%;
    width: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.7);
    border: 1px solid $secondaryGreen;
    border-radius: 3px;

    overflow-y: hidden;
}
