@import '../../theme/palette.scss';

.div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    // height: 3rem;
    margin: 0.7rem auto;

    & .span {
        color: #fff;
        margin: 0 0 5px 1rem;
    }

    & .input {
        padding: 0.4rem 2rem;
        width: 100%;
        background: transparent;
        color: #fff;
        font-size: 1.5rem;
        border: 1px solid #fff;
        border-radius: 5px;
    }
}
