h1,
h4 {
    margin: 20px;
}

.leaderboard-container {
    display: flex;
    justify-content: space-around;
    height: 35rem;
    width: 100%;
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.699);

    & .leaderboard-table {
        display: inline-block;
        border: 1px solid red;
        height: 100%;
        width: 60%;
        padding: 20px 20px 5px;

        & > .table-data {
            width: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar-thumb {
                background: #04522c;
            }
        }
    }

    .papersMain {
        font-size: 0.9em;
        .myAcc {
            width: 370px;
            background: #2e2f30;
            height: 399px;

            .titleMyAcc {
                margin: 0;
                padding: 5px 25px;
                color: #00ee7a;
            }
            .balanceMyAcc {
                background: #1e1f21;
                display: flex;
                flex-direction: row;
                padding: 10px 0px 10px 25px;
            }
        }
    }
}
