.dashboardComponent {
    position: absolute;
    top: 4rem;
    z-index: 11;
    .dashboardMain {
        padding: 0;
        .comingSoon {
            position: fixed;
            bottom: 0;
            height: 500px;
            width: 100%;

            max-width: 100%;
            background-image: url('../../theme/assets/comingSoon.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
