@import '../../theme/palette.scss';

.titleBox {
    height: 2.5rem;
    color: $primaryGreen;
    padding-left: 1rem;
    line-height: 2.5rem;
    background: $secondaryGrey;
    font-size: 0.9rem;
}

.chart {
    max-height: 10rem;
    animation: appear 300ms;
}

.legend {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    margin: 1rem 0 0;
    animation: appear 300ms;

    & .legendDatabox {
        margin: 0.5rem;

        & p {
            &:first-of-type {
                font-size: 0.9rem;

                &::before {
                    content: '●';
                    margin-right: 0.5rem;
                }
            }
            &:last-of-type {
                margin-left: 0.8rem;
                font-size: 0.8rem;
                color: $lightGrey;
            }
        }

        & .coinImg {
            height: 0.9rem;
            width: 0.9rem;
            border: none;
            margin-right: 0.3rem;
        }
    }
}

.infoContainer {
    width: 100%;
    height: 100%;
    background: #000000d0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: appear 300ms;

    & ul {
        width: 85%;
        margin: 1rem 1rem 1rem 1.5rem;
        font-size: 0.8rem;
        color: $lightGrey;

        & li {
            margin: 0.5rem;
        }
    }

    & .legendButton {
        margin: 1rem auto;
    }
}

.legendButton {
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
    background: $secondaryGreen;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    border: 1px solid $secondaryGreen;
    color: #fff;
    animation: appear 300ms;

    &:hover {
        background: $primaryGreen;
        color: $primaryGrey;
        border: 1px solid $primaryGreen;
    }

    &:disabled {
        border: 1px solid $lightGrey;
        background: none;
        color: $lightGrey;

        &:hover {
            /* disabling hover effects */
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
