@import '../../theme/palette.scss';

.container {
    width: 100%;
    height: 85%;

    padding: 0.7rem;

    display: grid;
    grid-template-columns: 8.3rem 7.3rem 7.3rem;
    grid-template-rows: 3.8rem 3.8rem 3.8rem;

    background: $paletteGrey2;

    border-radius: 8px;

    & .chart {
        grid-column: 1;
        grid-row: 1 / 3;

        & img {
            width: 90%;
            height: 90%;

            position: relative;
            top: 5%;
            left: 5%;
        }
    }

    & .chartText {
        grid-column: 1;
        grid-row: 3;

        padding: 0.5rem;

        text-align: center;

        & .playerTier {
        }

        & .tierBonus {
            font-size: 0.8rem;
            color: $paletteGrey3;

            & span {
                color: $paletteWhite;
                font-size: 0.9rem;
            }
        }
    }

    & .userBalance {
        grid-column: 2;
        grid-row: 1;

        margin-top: 1rem;
        padding: 0 1rem;

        font-size: 0.8rem;
        color: $paletteGrey3;

        & p {
            color: $paletteWhite;
            margin: 0.3rem 0;
            font-size: 0.9rem;
        }
    }

    & .nextTier {
        grid-column: 3;
        grid-row: 1;

        margin-top: 1rem;
        padding: 0 1rem;

        font-size: 0.8rem;
        color: $paletteGrey3;

        & p {
            color: $paletteWhite;
            margin: 0.3rem 0;
            font-size: 0.9rem;

            & span {
                color: $paletteGrey3;
            }
        }
    }

    & .moreCoins {
        grid-column: 2 / 4;
        grid-row: 2;

        padding: 1rem 0.5rem 0;
        margin: 0 0.5rem 0 0;

        border-top: 1px solid $paletteGrey3;

        & p {
            margin: 0.2rem 0;

            &:first-of-type {
                font-size: 0.75rem;
                color: $paletteGrey3;
            }

            &:last-of-type {
                font-size: 0.85rem;
            }
        }
    }

    & .button {
        grid-column: 2 / 4;
        grid-row: 3;

        height: 60%;
        width: 85%;

        margin: 0.2rem 0.5rem;

        border: 1px solid $paletteGrey3;
        border-radius: 4px;

        background: transparent;
        color: $paletteWhite;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
