.LoginMain {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25%;

  .buttomDown{
    margin-top: 270px;
  }

  .buttonMain {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 35px;
    margin-top: 20px;
    background: #66BB6A;
  }

  .buttonExit {
    margin-bottom: 10px;
    background: #2E7D32;
    alignment: right;
  }

}

