.LoginMain {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25%;

  .buttomDown {
    margin-top: 270px;
  }

  .buttonMain {
    margin: 20px 200px 35px;
    background: #66BB6A;
  }

  .buttonExit {
    margin-bottom: 10px;
    background: #2E7D32;
    alignment: right;
  }

  .buttonExitPassword {
    width: 100px;
    height: 30px;
    background-color: #F5F5F5;
    margin: auto;
    margin-bottom: 20px;
  }

  .buttonSendMe {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    background: #66BB6A;
    width: 150px;
  }

  .emailField {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 250px;
  }

}

