@import '../../../../theme/palette.scss';

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000d0;
    z-index: 14;
    animation: appear 300ms;

    & .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 99%;
        width: 100%;
        background: $primaryGrey;
        border: 1px solid $secondaryGreen;
        border-radius: 5px;
        box-shadow: 0px 0px 100px 0px $secondaryGreen;

        animation: appear 800ms;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & p {
            margin: 0 auto;
            width: 80%;
            text-align: center;
            font-size: 1.3rem;
            color: $secondaryGreen;
        }

        & button {
            display: block;
            padding: 0.5rem 1rem;
            background: $secondaryGreen;
            border: 1px solid $secondaryGreen;
            border-radius: 5px;
            color: #000;
            cursor: pointer;
            transition: all 0.3s;
            font-size: 1rem;
            margin: 0 auto;

            &:hover {
                background: $primaryGreen;
            }
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
