@import '../../theme/palette.scss';

.titleBox {
    height: 2.5rem;
    color: $primaryGreen;
    padding-left: 1rem;
    line-height: 2.5rem;
    background: $secondaryGrey;
    font-size: 0.9rem;
}

.activitiesContainer {
    overflow-y: scroll;
    max-height: 250px;
}

.button {
    width: 7rem;
    margin: 2rem auto 0;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    background: $secondaryGrey;
    color: $lightGrey;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: $secondaryGreen;
        color: $primaryGrey;
    }
}
