@import '../../../../theme/palette.scss';

.container {
    cursor: pointer;
    position: absolute;
    left: 78%;
    bottom: 1rem;
    width: 20%;
    height: 5rem;
    background: $primaryGrey;
    border: 1px solid $secondaryGreen;
    padding: 1rem 0;

    display: flex;
    justify-content: space-evenly;

    z-index: 14;

    animation: appear 1500ms;

    & .img {
        width: 20%;
        border: 1px solid $secondaryGreen;
        border-radius: 5px;
    }

    & .messages {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & .message {
            font-size: 0.8rem;
            color: $lightGrey;
        }

        & .amount {
            font-size: 0.8rem;
            text-align: center;
            color: $lightGrey;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
