@import '../../theme/palette.scss';

.mainContainer {
    position: relative;
    top: 0;
    left: 0;

    z-index: 12;

    display: flex;
    justify-content: space-around;

    height: 100vh;
    width: 100%;

    & .contentContainer {
        margin: 1rem;

        display: flex;
        flex-direction: column;

        &:first-of-type {
            flex-grow: 1;
            max-width: 20%;

            & .contentBox {
                width: 100%;
                border-radius: 5px;

                &:first-of-type {
                    flex-grow: 6;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                    display: flex;
                    max-height: 50%;
                    flex-direction: column;

                    & .chart {
                        max-height: 10rem;
                    }

                    & .legend {
                        display: flex;
                        flex-direction: column;
                        padding: 0.5rem 2rem;

                        & .legendDatabox {
                            margin: 0.2rem;

                            & p {
                                &:first-of-type {
                                    font-size: 0.9rem;

                                    &::before {
                                        content: '●';
                                        margin-right: 0.5rem;
                                    }
                                }
                                &:last-of-type {
                                    margin-left: 0.8rem;
                                    font-size: 0.8rem;
                                    color: $lightGrey;
                                }
                            }

                            & .coinImg {
                                height: 0.9rem;
                                width: 0.9rem;
                                border: none;
                                margin-right: 0.3rem;
                            }
                        }
                    }

                    & .legendButton {
                        cursor: pointer;
                        margin: 0 auto;
                        background: $secondaryGreen;
                        padding: 0.5rem 1rem;
                        border-radius: 5px;
                        font-size: 0.8rem;

                        &:hover {
                            background: $primaryGreen;
                        }
                    }
                }

                &:last-of-type {
                    flex-grow: 5;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                }
            }
        }
        &:nth-of-type(2) {
            flex-grow: 2;
            max-width: 50%;

            & .contentBox {
                width: 100%;
                border-radius: 5px;

                &:first-of-type {
                    flex-grow: 3;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                }

                &:last-of-type {
                    flex-grow: 2;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                }
            }
        }
        &:last-of-type {
            flex-grow: 1;
            max-width: 25%;

            & .contentBox {
                width: 100%;
                border-radius: 5px;

                &:first-of-type {
                    flex-grow: 6;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                }

                &:last-of-type {
                    flex-grow: 5;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                    background-image: url('../../theme/assets/banner.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }
        }

        & .titleBox {
            height: 2.5rem;
            color: $primaryGreen;
            padding-left: 1rem;
            line-height: 2.5rem;
            background: $secondaryGrey;
            font-size: 0.9rem;
        }
    }
}
