@import '../../theme/palette.scss';

.mainContainer {
    position: relative;
    top: 0;
    left: 0;

    z-index: 12;

    display: flex;
    justify-content: space-around;

    height: 100vh;
    width: 100%;

    & .contentContainer {
        margin: 0.7rem;

        display: flex;
        flex-direction: column;

        &:first-of-type {
            flex-grow: 1;
            min-width: 25%;

            & .contentBox {
                width: 100%;
                border-radius: 5px;

                &:first-of-type {
                    flex-grow: 5;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                    display: flex;
                    flex-direction: column;
                }

                &:last-of-type {
                    flex-grow: 5;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                }
            }
        }
        &:nth-of-type(2) {
            flex-grow: 2;
            max-width: 50%;

            & .contentBox {
                width: 100%;
                border-radius: 5px;

                &:first-of-type {
                    flex-grow: 3;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                }

                &:last-of-type {
                    flex-grow: 2;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                }
            }
        }
        &:last-of-type {
            flex-grow: 1;
            min-width: 400px;

            & .contentBox {
                width: 100%;
                border-radius: 5px;

                &:first-of-type {
                    flex-grow: 6;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                }

                &:last-of-type {
                    flex-grow: 5;
                    margin: 0.5rem 0;
                    background: $primaryGrey;
                    border: 1px solid $secondaryGrey;
                    background-image: url('../../theme/assets/banner.jpg');
                    background-position: center;
                    background-size: cover;
                    min-height: 300px;
                }
            }
        }
    }
}
