@import '../../theme/palette.scss';

.container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 70%;

    opacity: 0;

    & .title {
        margin-bottom: 1rem;
    }

    & .functionalContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem auto;

        & .checkbox {
            width: 5%;
            height: 1.3rem;
            cursor: pointer;
            transition: all 0.3s;
            display: block;

            &:after {
                content: 'Remember me';
                margin: 0 1.2rem 0;
                font-size: 0.8rem;
                line-height: 1.3rem;
                color: $paletteGrey3;
                white-space: nowrap;
            }
        }

        & .forgotPassword {
            cursor: pointer;
            font-size: 0.8rem;
            color: $paletteGrey3;
            text-decoration: underline;

            &:hover {
                color: $paletteGreen1;
            }
        }
    }

    & .buttonsContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem auto;

        & button {
            cursor: pointer;

            width: 49%;

            background: transparent;

            padding: 0.8rem 0;

            border-radius: 4px;

            &:first-of-type {
                border: 1px solid $paletteGreen2;
                color: $paletteGreen2;

                &:hover {
                    background: $paletteGreen2;
                    color: $paletteGrey1;
                }
            }

            &:last-of-type {
                border: 1px solid $paletteGrey3;
                color: $paletteGrey3;

                &:hover {
                    border: 1px solid $paletteGreen2;
                    color: $paletteGreen2;
                }
            }
        }
    }

    & .accountCreation {
        font-size: 0.8rem;
        color: $paletteGrey3;

        & span {
            cursor: pointer;

            color: $paletteGreen1;
            text-decoration: underline;
        }
    }

    & .socialContainer {
        display: flex;
        justify-content: flex-start;
        margin: 1rem 0;

        & img {
            cursor: pointer;

            border: 1px solid white;
            border-radius: 4px;

            padding: 0.4rem;
            width: 2.2rem;
            height: 2.2rem;
            margin-right: 0.5rem;

            filter: brightness(35%);

            &:hover {
                -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg)
                    saturate(1000%) contrast(0.5);
                filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg)
                    saturate(1000%) contrast(0.5);
            }
        }
    }
}
