@import '../../theme/palette.scss';

.img {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%) scale(0.15);
}

.authLinks {
    cursor: pointer;
    display: inline;
    width: 2rem;
    margin: -1rem 0 0.4rem 0.7rem;
}

.loginForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 70%;

    & input {
        position: relative;
        top: 25%;
        transform: translate(0, -50%);
        display: block;
        width: 100%;
        margin: 10px auto;
        height: 2.5rem;
        border: 1px solid $secondaryGreen;
        color: $primaryGreen;
        font-size: 1.1rem;
        border-radius: 3px;
        padding: 0 10px;
        background: transparent;

        &:focus {
            border: 1px solid $primaryGreen;
        }

        &[type='submit'] {
            display: inline-block;
            background: $secondaryGreen;
            color: #000;
            cursor: pointer;
            transition: all 0.3s;
            font-size: 1rem;
            width: 70%;

            &:hover {
                background: $primaryGreen;
            }
        }

        &[type='checkbox'] {
            width: 5%;
            height: 1.3rem;
            cursor: pointer;
            transition: all 0.3s;
            display: block;
            margin: -10px 10px 20px;

            &:after {
                content: 'Remember me';
                margin: -10px 1.7rem 0;
                color: $secondaryGreen;
                white-space: nowrap;
            }
        }
    }
}

.forgotPassButton {
    position: absolute;
    left: 50%;
    top: 68%;
    transform: translate(-50%, -50%);
    height: 1rem;
    padding: 0;
    box-shadow: none;
    border: none;

    background: transparent;
    cursor: pointer;
    color: $secondaryGreen;

    transition: all 0.2s;

    &:hover {
        color: $primaryGreen;
        background: transparent;
    }
}

.registrationButton {
    position: absolute;
    left: 50%;
    top: 80%;
    padding: 0.5rem;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    width: 70%;
    background: transparent;
    border: 1px solid $secondaryGreen;
    cursor: pointer;
    color: $secondaryGreen;

    &:hover {
        background: $secondaryGreen;
        color: #000;
    }
}

.tryDemoButton {
    position: absolute;
    left: 50%;
    top: 90%;
    padding: 0.5rem;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    width: 70%;
    background: transparent;
    border: 1px solid $secondaryGreen;
    cursor: pointer;
    color: $secondaryGreen;

    &:hover {
        background: $secondaryGreen;
        color: #000;
    }
}
