@import '../../theme/palette.scss';

.headerRow {
    display: flex;
    width: 100%;
    min-height: 2.5rem;
    justify-content: space-around;
    background: #323232;
    color: $paletteGrey3;
    padding-left: 3rem;
}

.tableHeader {
    width: 18%;
    text-align: left;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    color: $paletteGrey3;
    line-height: 1.5rem;
    overflow-y: hidden;
    border-radius: 8px 8px 0 0;
    cursor: default;

    &:first-of-type {
        width: 10%;
    }
}

.tableRow {
    display: flex;
    width: 100%;
    min-height: 2rem;
    justify-content: space-around;
    background: $paletteGrey2;
    padding-left: 3rem;
}

.tableCell {
    width: 18%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: scroll;
    text-align: left;
    font-size: 0.9rem;
    color: $paletteWhite;
    line-height: 3rem;
    overflow-y: hidden;
    display: flex;
    align-items: center;

    & img {
        display: inline-block;
        width: 0.9rem;
        height: 0.9rem;
        margin-right: 0.3rem;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &:first-of-type {
        width: 10%;
    }
}
