@import '../../theme/palette.scss';

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    height: 46%;
    width: 21%;
    margin: 0.7rem 2%;
    background-image: url('https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6577/6577073_sa.jpg;maxHeight=640;maxWidth=550');
    background-size: cover;
    background-position: center;
    border-radius: 0 30px 30px 30px;
    border: 1px solid $secondaryGreen;

    & .title {
        cursor: pointer;
        height: 3rem;
        background: #231f20dd;
        text-align: center;
        line-height: 3rem;
        border-radius: 0 30px 0 0;

        & .description {
            display: none;
            animation: appear 300ms;
        }

        &:hover {
            height: 9rem;

            & .description {
                display: block;
                text-align: justify;
                width: 90%;
                margin: 1rem auto;
                font-size: 0.8rem;
                line-height: 0.8rem;
                animation: appear 300ms;
            }
        }
    }

    & .actionButtonContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 3.5rem;
        border-radius: 0 0 30px 30px;
        border: 1px solid $secondaryGreen;
        background: $primaryGrey;

        & p {
            width: 50%;
            height: 100%;
            text-align: center;
            line-height: 3.5rem;

            &:last-of-type {
                background: $secondaryGreen;
                color: white;
                border-radius: 0 0 30px 0;
                cursor: pointer;

                &:hover {
                    background: $primaryGreen;
                    color: black;
                }
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
