@import '../../theme/palette.scss';

.container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    height: 49%;
    width: 28%;
    min-width: 201px;
    min-height: 250px;
    margin: 0.8rem 1%;

    border-radius: 5px;
    border: 1px solid $secondaryGrey;

    animation: appear 300ms;

    & .priceContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 7%;

        height: 15%;
        background: $secondaryGrey;
        border-radius: 5px 5px 0 0;

        & .gameLogo {
            margin-top: -0.3rem;
            width: 27%;
            filter: invert(1);
        }

        & p {
            font-size: 1.2rem;

            & img {
                height: 0.8rem;
                margin-right: 0.2rem;
            }
        }
    }

    & .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-size: cover;
        background-position: center;
        height: 85%;
        min-height: 230px;
        border-radius: 0 0 5px 5px;

        & .label {
            background: $secondaryGreen;
            clip-path: polygon(100% 0, 55% 0, 100% 100%);
            width: 100%;
            min-height: 100px;
            text-align: right;
            padding: 0.5rem 0.2rem;

            & .labelTitle {
                font-size: 0.7rem;
            }

            & .timer {
                font-size: 0.8rem;
                padding: 0.2rem;
            }
        }

        & .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            height: 50%;
            padding: 2rem 0 0.5rem;
            background-image: linear-gradient(transparent, black 40%);
            border-radius: 0 0 5px 5px;

            & .itemName {
                text-align: center;

                &:last-of-type {
                    width: 60%;
                    height: 1rem;
                    margin: 0.2rem 0 0.4rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 0.8rem;
                }
            }

            & .actionButton {
                cursor: pointer;
                width: 45%;
                border: 1px solid #fff;
                background: transparent;
                color: #fff;
                height: 1.8rem;
                border-radius: 5px;
                font-weight: 600;
                font-size: 0.8rem;

                &:hover {
                    border: 1px solid $secondaryGreen;
                    background: $secondaryGreen;
                }
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
