@import '../../theme/palette.scss';

.container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    height: 4%;
    width: 21%;
    margin: 0.7rem 2%;
    background-image: url('https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6577/6577073_sa.jpg;maxHeight=640;maxWidth=550');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 1px solid $secondaryGreen;
    animation: appear 500ms;

    //? hack to get rid of border bug in chromium
    transform: scale(1.01);

    & .title {
        cursor: pointer;
        height: 3rem;
        background: black;
        text-align: center;
        line-height: 3rem;
        border-radius: 20px 20px 0 0;

        & .description {
            display: none;
            animation: appear 300ms;
        }

        &:hover {
            height: 9rem;

            & .description {
                display: block;
                text-align: justify;
                width: 90%;
                margin: 1rem auto;
                font-size: 0.8rem;
                line-height: 0.8rem;
                animation: appear 300ms;
            }
        }
    }

    & .actionButtonContainerBuy {
        width: 100.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        height: 3rem;
        border-radius: 0 0 20px 20px;
        border: 1px solid $secondaryGreen;
        background: $primaryGrey;

        & p {
            width: 30%;
            height: 100%;
            text-align: center;
            line-height: 3rem;

            &:last-of-type {
                width: 70%;
                background: $secondaryGreen;
                color: white;
                border-radius: 0 0 20px 0;
                cursor: pointer;

                &:hover {
                    background: $primaryGreen;
                    color: black;
                }
            }
        }
    }

    & .actionButtonContainerSell {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        height: 3rem;
        border-radius: 0 0 20px 20px;
        border: 1px solid $secondaryGreen;
        background: $primaryGrey;

        & p {
            width: 30%;
            height: 100%;
            text-align: center;
            line-height: 3rem;

            &:last-of-type {
                width: 70%;
                background: #4e77e6;
                color: white;
                border-radius: 0 0 20px 0;
                cursor: pointer;

                &:hover {
                    background: #6e8ee7;
                    color: black;
                }
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
