@import '../../theme/palette.scss';

.container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 70%;

    opacity: 0;

    & .title {
        margin-left: -2rem;

        & img {
            cursor: pointer;
            margin-right: 1rem;

            /* fucking svg has fucking few px bottom fucking padding */
            position: relative;
            top: 0.2rem;
        }
    }

    & .button {
        cursor: pointer;
        width: 100%;

        margin-top: 1rem;
        padding: 0.8rem;

        background: transparent;
        border: 1px solid $paletteGreen2;
        border-radius: 4px;

        color: $paletteGreen2;

        &:hover {
            background: $paletteGreen2;
            color: $paletteGrey1;
        }

        &:disabled {
            cursor: not-allowed;
            background: $paletteGrey1;
            border: 1px solid $paletteGrey1;
            color: $paletteGrey3;
        }
    }
}
